$container_width: 1800px;
$sidebar_width: 230px;

div#container2 {
  margin: 20px auto;
  padding-top: 5px;
  width: auto;
  overflow:hidden;
  
/*_graph.html.erb*/
  div#graph {
    float: left;
    background-color: #99DDEE;
    width: 50%;
    margin: 0 auto;
    div#select{
      border: solid;
      width: 200px;
      height: 30px;
      div#up{
        text-align: center;
        position: relative;
        top: 7px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        
      }
    }
  }


/*_data.html.erb*/  
  div#data {
    float: right;
    background-color: #FFFFFF;
    width: 50%;
      
    table.stockdata{
      margin: 0 auto;
      border-collapse: collapse;
      border: double;
      width: inherit;
      td, th {
        text-align: center;
        border: solid 1px;
        }
      
    }
    
  }
  
}

///PS///

div#stock_table{
  table{border: 2px #808080 solid;
    th ,td{
      border: 2px #808080 solid;
    }
  }
  
}

///PS///


div.box {
  width:100%; /* 横幅 */
  height:100px; /* 縦幅 */
  overflow:auto;
  background-color:#F0F0F0; /* 背景色 */
  border:1px #F0F0F0 dashed; /* 枠 */
  font-size:80%; /* 文字サイズ */
  color:#000000; /* 文字色 */
}
div.box p {
  margin:1em 5px; /* 行間 */
}
