$container_width: 1800px;
$sidebar_width: 230px;

div#container2 {
  margin: 20px auto;
  padding-top: 5px;
  width: auto;
  overflow:hidden;
  
/*_graph.html.erb*/
  div#graph {
    float: left;
    width: 50%;
    margin: 0 auto;
    div#select{
      border: solid;
      width: 200px;
      height: 30px;
      div#up{
        text-align: center;
        position: relative;
        top: 7px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        
      }
    }
  }


/*_data.html.erb*/  
  div#data {
    float: right;
    background-color: #FFFFFF;
    width: 48%;
    
  ///PS///

  table.stock_data{
    border: 2px #808080 solid;
    border-collapse: collapse;
    th ,td{
      border: 0.5px #808080 solid;
      text-align: center;
    }
    tr:nth-child(even) {
      background:#FFF0F5;
    }
    tr:nth-child(odd) {
      background:#E0FFFF;
    }
    width: 100%;

  }
  
  ///PS///
  
  
  div.box {
    width:100%; /* 横幅 */
    height:100px; /* 縦幅 */
    overflow:auto;
    background-color:#F0F0F0; /* 背景色 */
    border:1px #F0F0F0 dashed; /* 枠 */
    font-size:80%; /* 文字サイズ */
    color:#000000; /* 文字色 */
  }
  
  div.box p {
    margin:1em 5px; /* 行間 */
  }
  
  div#rate {
    text-align: center;
    border: 1px double;
    background-color: #98F5FF;
  }
}
}

div.stock_data{
        width: 98%;
        table{
            border: 2px #808080 solid;
            border-collapse: collapse;
            th ,td{
            border: 0.5px #808080 solid;
            }
            tr:nth-child(even) {
                background:#FFF0F5;
            }
            tr:nth-child(odd) {
                background:#E0FFFF;
             }
        }
    }