// Place all the styles related to the ranking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#graph {
    float: left;
    background-color: #99DDEE;
    width: 50%;
    margin: 0 auto;
  }

div#ranking_table{
  table{border: 2px #808080 solid;
    th ,td{
      border: 2px #808080 solid;
    }
  }
  
}
