

<p><%= @stock.name %></p>

<table class="stockdata">
  <tr>
    <th>証券番号</th>
    <td><%= @stock.num %></td>
  </tr>
  <tr>
    <th>銘柄名</th>
    <td><%= @stock.name %></td>
  </tr>
  <tr>
    <th>市場</th>
    <td><%= @stock.market %></td>
  </tr>
  
</table>