<div id="select" >
  <div id="up">
    <%= link_to("上昇確率", :action => "show") %> &nbsp;&nbsp;
    <%= link_to("上がり幅", :action => "show") %>
  </div>
  <div id="range">
    
  </div>
  
</div>
<%= high_chart("sample", @graph) %>
